__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
data/raw/*.wav
data/processed/filtered/*
data/processed/entropy_timeseries/*

!data/processed/filtered/.gitkeep
!data/processed/entropy_timeseries/.gitkeep
!results/figures/.gitkeep
!results/tables/.gitkeep
!results/metrics/.gitkeep
.DS_Store
*.egg-info/
venv/
.venv/
